{% extends "bootstrap/base.html" %}

{% block title %}
Estimate Price
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Price Watcher</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="height: auto;">
    <h1>Estimate Price</h1>
    <br></br>

    <form id="estimate-form" class="form-group">
        <input type="text" id="brand" placeholder="Brand" required class="form-control">
        <input type="text" id="model" placeholder="Model" required class="form-control">
        <input type="text" id="color" placeholder="Color" required class="form-control">
        <input type="number" id="buying_price" placeholder="Buying Price" required class="form-control">
        <input type="number" id="days" placeholder="Days" required class="form-control">
        <br></br>
        <button type="button" onclick="estimatePrice()" class="btn btn-primary">Estimate Price</button>
        <button type="button" onclick="estimatePriceML()" class="btn btn-light">Estimate Price ML</button>
    </form>

<br></br>

    <div id="result" style="height: auto;">
        <div id="loader" class="spinner-border text-primary" role="status" style="display: none;">
            <span>Loading...</span>
        </div>
    </div>
</div>

</div>

{% endblock %}
{% block scripts %}
<script>
var loader = document.getElementById('loader');

function estimatePriceML() {
    var brand = document.getElementById('brand').value;
    var model = document.getElementById('model').value;
    var color = document.getElementById('color').value;
    var buying_price = document.getElementById('buying_price').value;
    var days = document.getElementById('days').value;

    loader.style.display = 'block';

    fetch('/estimate_price_ml/' + brand + '/' + model + '/' + color + '/' + buying_price + '/' + days)
    .then(response => {
        if (!response.ok) {
            throw new Error('HTTP error ' + response.status);
        }
        return response.json();
    })
    .then(data => {
        var requestId = data.request_id;
        checkStatus(requestId);
    })
    .catch(error => {
        loader.style.display = 'none';
        console.error('Error:', error);
    });
}
function checkStatus(requestId, retryCount = 0) {
    fetch('/status/' + requestId)
    .then(response => {
        if (!response.ok) {
            // If a 502 error occurs, retry up to 3 times
            if (response.status === 502 && retryCount < 5) {
                return checkStatus(requestId, retryCount + 1);
            }
            throw new Error('HTTP error ' + response.status);
        }
        return response.json();
    })
    .then(data => {
        console.log(data.status);
        if (data.status.status === "Complete") {
            loader.style.display = 'none';
            displayResults(data.status.result);
        } else if (data.status.status === "Not found") {
            loader.style.display = 'none';
            estimatePrice();
        } else {
            setTimeout(function() {
                checkStatus(requestId);
            }, 4000);
        }
    })
    .catch(error => {
        loader.style.display = 'none';
        console.error('Error:', error);
    });
}

function estimatePrice() {
    var brand = document.getElementById('brand').value;
    var model = document.getElementById('model').value;
    var color = document.getElementById('color').value;
    var buying_price = document.getElementById('buying_price').value;
    var days = document.getElementById('days').value;

    loader.style.display = 'block';

    fetch('/estimate_price/' + brand + '/' + model + '/' + color + '/' + buying_price + '/' + days)
    .then(response => {
        if (!response.ok) {
            throw new Error('HTTP error ' + response.status);
        }
        return response.json();
    })
    .then(data => {
        loader.style.display = 'none';
        displayResults(data);
    })
    .catch(error => {
        loader.style.display = 'none';
        console.error('Error:', error);
    });
}



function displayResults(data) {
    var resultDiv = document.getElementById('result');
    var cardContent = '';

    if (data['bags_count'] !== undefined) { // Results from estimatePriceML
        // Remove any existing cards from the same method
        var oldCards = document.getElementsByClassName('estimatePriceML');
        while(oldCards[0]) {
            oldCards[0].parentNode.removeChild(oldCards[0]);
        }

        cardContent = `
            <div class="card estimatePriceML">
                <div class="card-header">
                    <h5 class="card-title">Estimate Price ML Results</h5>
                </div>
                <div class="card-body">
                    <p>Number of sold bags in the database for this bag: ${data.bags_count} </p>
                    ${data.color_data_exists ? `<p>Number of sold bags in the database for this color: ${data.bags_color_count} </p>` : ''}
                    <p>Average price - all models: ${data.avg_price_all} €</p>
                    <p>Closest model to average price for all models: ${data.best_model_all} with a difference of ${data.diff_allmodels} €</p>
                    ${data.color_data_exists ? `<p>Average price - ${data.color}: ${data.avg_price_color} €</p>` : ''}
                    ${data.color_data_exists ? `<p>Closest model to average price for ${data.color} bags: ${data.best_model_color} with a difference of ${data.diff_color_models} €</p>` : ''}
                    <p>Recommended price is ${Math.max(data.predicted_price_color, data.predicted_price_all)} €</p>
                    <p>Profit - all: ${data.profit_all} €, Profit - color: ${data.profit_color ? data.profit_color : 'N/A'} €</p>
                </div>
            </div>
            <br></br>
        `;
    } else { // Results from estimatePrice
        // Remove any existing cards from the same method
        var oldCards = document.getElementsByClassName('estimatePrice');
        while(oldCards[0]) {
            oldCards[0].parentNode.removeChild(oldCards[0]);
        }

        cardContent = `
            <div class="card estimatePrice">
                <div class="card-header">
                    <h5 class="card-title">Estimate Price Results</h5>
                </div>
                <div class="card-body">
                    <p>Number of bags: ${data["Number of bags"]}</p>
                    <p>Number of bags - color: ${data["Number of bags - color"]}</p>
                    <p>Average price: ${Math.round(data["Average price"])} €</p>
                    <p>Average price - color: ${Math.round(data["Average price - color"])} €</p>
                    <p>Recommended price - all: ${Math.round(data["Recommended price - all"])} € for a profit of ${Math.round(data["Profit- all"])} €</p>
                    <p>Recommended price - color: ${Math.round(data["Recommended price - color"])} € for a profit of ${Math.round(data["Profit - color"])} €</p>
                </div>
            </div>
            <br></br>
        `;
    }

    resultDiv.innerHTML += cardContent; // Append new results to existing content
}




</script>
{% endblock %}
