{% extends "bootstrap/base.html" %}

{% block title %}
Price Watcher
{% endblock %}

{% block navbar %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        $j('#myTable').DataTable();
    });
    </script>
    <script>
        var data = {{ data|tojson }};
        console.log(data);
    </script>

    <script>
document.getElementById('debug-button').addEventListener('click', function() {
    var debugDiv = document.getElementById('debug');
    if (debugDiv.style.display === 'none') {
        debugDiv.style.display = 'block';
    } else {
        debugDiv.style.display = 'none';
    }
});
</script>


<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Price Watcher</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Color</th>
                <th scope="col">Retail Price</th>
                <th scope="col">Average Price</th>
                <th scope="col">Sold</th>
                <th scope="col">Highest Bid</th>
                <th scope="col">Lowest Ask</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
         <tbody>
            {% for item in data %}
            <tr>
                <td><img src="{{ item['media']['thumbUrl'] }}" alt="{{ item['title'] }}" style="width: 50px;"></td>
                <td>{{ item['title'] }}</td>
                <td>
                    {% if 'PM' in item['title'] %}
                        {{ item['title'].split('PM', 1)[1].strip() }}
                    {% else %}
                        {{ item['title'].split()[-1] }}
                    {% endif %}
                </td>                
                <td>
                    {% for trait in item['traits'] %}
                        {% if trait['name'] == 'Retail Price' %}
                            {{ trait['value'] }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ item['market']['averageDeadstockPrice'] }}</td>
                <td>{{ item['market']['deadstockSold'] }}</td>
                <td>{{ item['market']['highestBid'] }}</td>
                <td>{{ item['market']['lowestAsk'] }}</td>

                <td><a href="https://stockx.com/fr-fr/{{ item['urlKey'] }}" class="btn btn-primary">View on StockX</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% if debug_info %}
<div id="debug" style="display: none;">
    <pre>{{ debug_info }}</pre>
</div>

<button id="debug-button">Show Debug Info</button>


{% endif %}

{% endblock %}