{% extends "bootstrap/base.html" %}

{% block title %}
Product Watcher
{% endblock %}

{% block content %}
<div class="container">
    <h1>Product Watcher</h1>
    <p>Here are the products you watch :</p>
    <br></br>

    <form method="POST">
        <input type="text" name="new_brand" placeholder="Enter new brand">
        <input type="text" name="new_model" placeholder="Enter new model">
        <input type="submit" value="Add Product">
    </form>

    <br></br>

    <!-- Add a button to see sales stats for all models -->
    <a href="{{ url_for('sales_stats_allmodels') }}" class="btn btn-primary">See All Models Sales Stats</a>

    <br></br>

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.brand }} {{ product.model }}</td>
                <td>
                    <a href="{{ url_for('product_detail', brand=product.brand, model=product.model) }}" class="btn btn-primary">See offers</a>
                    <a href="{{ url_for('sales_stats', brand=product.brand, model=product.model) }}" class="btn btn-primary">See sales</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


                    <!-- <a href="{{ url_for('dashboard1', brand=product.brand, model=product.model) }}" class="btn btn-primary">See dashboard1</a> -->
                    <!-- <a href="{{ url_for('dashboard2', brand=product.brand, model=product.model) }}" class="btn btn-primary">See dashboard2</a> -->