{% extends "bootstrap/base.html" %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% block title %}
Product Watcher
{% endblock %}

{% block content %}


    <div class="container-fluid">
        <h1>Product Watcher</h1>
    <p>Here are the products you watch :</p>

    <form method="POST">
        <div class="form-group">

        <input type="text" name="new_brand" placeholder="Enter new brand">
    </div>
    <div class="form-group">

        <input type="text" name="new_model" placeholder="Enter new model">
    </div>
    <div class="form-group">

        <input type="submit" value="Add Product">
    </div>

    </form>


    <!-- Add a button to see sales stats for all models -->

    <div class="table-responsive">

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ url_for('estimate_price_page') }}" class="btn btn-primary">Estimate Price to buy a product</a>
                    </td>
                    <td>

                        <a href="{{ url_for('sales_stats_allmodels') }}" class="btn btn-primary">Get data to sell a product</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.brand }} {{ product.model }}</td>
                <td>
                    <a href="{{ url_for('product_detail', brand=product.brand, model=product.model) }}" class="btn btn-primary">Buy</a>
                    <a href="{{ url_for('sales_stats', brand=product.brand, model=product.model) }}" class="btn btn-primary">Sell</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>


{% endblock %}


                    <!-- <a href="{{ url_for('dashboard1', brand=product.brand, model=product.model) }}" class="btn btn-primary">See dashboard1</a> -->
                    <!-- <a href="{{ url_for('dashboard2', brand=product.brand, model=product.model) }}" class="btn btn-primary">See dashboard2</a> -->