
{% extends "bootstrap/base.html" %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% block title %}
Sales Stats
{% endblock %}

{% block navbar %}
<!-- Include the DataTables CSS and JS libraries -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<!-- Include the MongoDB Charts Embedding SDK -->
<script src="https://unpkg.com/@mongodb-js/charts-embed-dom@3.1.0/dist/charts-embed-dom.umd.min.js"></script>

<script>
    // Now you can use the ChartsEmbedSDK as a global variable
    async function renderDashboard() {
      const sdk = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-project-0-kuacs', // Replace with your base URL
      });
    
      const dashboard = sdk.createDashboard({
        dashboardId: '6483b793-7171-4c2e-8dea-122ef63e26a0', // Replace with your dashboard ID
        // other options
      });
    
      await dashboard.render(document.getElementById('dashboard'));
    }
    
    // Call renderDashboard after the window has loaded
    window.onload = function() {
        renderDashboard();
    };
    </script>
    

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        
        
        var table = $j('#allProductsTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/sales_stats/data",
            "type": "GET",
            "data": function (d) {
            d.page = d.start / d.length + 1;
            d.per_page = d.length;
            d.timeToSell_min = $j('#timeToSell-min').val();
            d.timeToSell_max = $j('#timeToSell-max').val();
            d.likes_min = $j('#likes-min').val();
            d.likes_max = $j('#likes-max').val();
            d.price_min = $j('#price-min').val();
            d.price_max = $j('#price-max').val();
            d.checkbox_values = $j('#color-search input:checked').map(function () {
                return this.value;
            }).get().join('|');
        }
    },
    "columns": [
            { 
                "data": "image",
                "render": function(data, type, row, meta){
                    if(type === 'display'){
                        data = '<img src="' + data + '" alt="Product Image" height="50" width="50">';
                    }
                    return data;
                },
                "orderable": false, // Disable sorting for this column
                "searchable": false // Disable searching for this column
            },
            { "data": "id" },
            { "data": "brand" },
            { "data": "model" },
            { "data": "name" },
            { "data": "color" },
            { "data": "material" }, 
            { 
                "data": "price", 
                "render": function (data, type, row) {
                    if (type === 'display' || type === 'filter') {
                        return parseFloat(data).toFixed(0) + '€';
                    }
                    return data;
                } 
            },
            { "data": "likes" },
            { "data": "timeToSell" },
            { "data": "vintage" }, 
            { "data": "condition" }, 
            {
                "data": "link",
                "render": function(data, type, row, meta){
                    if(type === 'display'){
                        data = '<a href="' + data + '" class="btn btn-primary">See on VC</a>';
                    }
                    return data;
                }
            }
        ],

        "order": [[ 1, "desc" ]],  
        "pageLength": 50,
        "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]]
    });

        
        
        // var table = $j('#allProductsTable').DataTable({
        //     "pageLength": 100,
        //     "lengthMenu": [[100, 200, -1], [100, 200, "All"]]
        // });




        $j('#title-search').on('keyup', function () {
            table.columns(1).search(this.value).draw();
        });

        $j('#material-search').on('keyup', function () {
            table.columns(6).search(this.value).draw();
        });

        $j('#vintage-search').on('keyup', function () {
            table.columns(10).search(this.value).draw();
        });

        $j('#condition-search').on('keyup', function () {
            table.columns(11).search(this.value).draw();
        });

        // Populate the color checkboxes
        var colors = table.column(5).data().unique();
        colors.each(function (color) {
            $j('#color-search').append('<input type="checkbox" value="' + color + '">' + color + '<br>');
        });

        // Add event listener to the color checkboxes
        $j('#color-search input').on('change', function () {
            var search = $j('#color-search input:checked').map(function () {
                return this.value;
            }).get().join('|');
            table.column(5).search(search, true, false).draw();
        });


    // Add event listener to the timeToSell range inputs
    $j('#timeToSell-search input').on('change', function () {
            var min = parseInt($j('#timeToSell-min').val(), 10);
            var max = parseInt($j('#timeToSell-max').val(), 10);
            table.draw();
        });

        $j.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var min = parseInt($j('#timeToSell-min').val(), 10);
                var max = parseInt($j('#timeToSell-max').val(), 10);
                var timeToSell = parseFloat(data[5]) || 0; // use data for the timeToSell column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && timeToSell <= max) ||
                    (min <= timeToSell && isNaN(max)) ||
                    (min <= timeToSell && timeToSell <= max)) {
                    return true;
                }
                return false;
            }
        );

            // Add event listener to the likes range inputs
            $j('#likes-search input').on('change', function () {
                var min = parseInt($j('#likes-min').val(), 10);
                var max = parseInt($j('#likes-max').val(), 10);
                table.draw();
            });

            // Add event listener to the price range inputs
            $j('#price-search input').on('change', function () {
                var min = parseInt($j('#price-min').val(), 10);
                var max = parseInt($j('#price-max').val(), 10);
                table.draw();
            });

            $j.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                    var minLikes = parseInt($j('#likes-min').val(), 10);
                    var maxLikes = parseInt($j('#likes-max').val(), 10);
                    var likes = parseFloat(data[4]) || 0; // use data for the likes column

                    var minPrice = parseInt($j('#price-min').val(), 10);
                    var maxPrice = parseInt($j('#price-max').val(), 10);
                    var price = parseFloat(data[3]) || 0; // use data for the price column

                    if ((isNaN(minLikes) && isNaN(maxLikes)) ||
                        (isNaN(minLikes) && likes <= maxLikes) ||
                        (minLikes <= likes && isNaN(maxLikes)) ||
                        (minLikes <= likes && likes <= maxLikes)) {
                        if ((isNaN(minPrice) && isNaN(maxPrice)) ||
                            (isNaN(minPrice) && price <= maxPrice) ||
                            (minPrice <= price && isNaN(maxPrice)) ||
                            (minPrice <= price && price <= maxPrice)) {
                            return true;
                        }
                    }
                    return false;
                }
            );


        $j('#allProductsTable th').hover(
            function () {
                $j(this).find('input, div').css('display', 'inline-block');
            }, 
            function () {
                $j(this).find('input, div').css('display', 'none');
            }
        );
    });


</script>

<style>
    #allProductsTable th input, 
    #allProductsTable th div {
        display: none;
    }
</style>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Price Watcher</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- First Section -->

    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#salesStats">
        See Sales Stats
    </button>
    <h1 style="text-align: center;">
        All sold products
    </h1>
    <br><br>
    <div id="salesStats" class="collapse">
        <div class="container-fluid">
            <!-- Add this div where you want the dashboard to appear -->
            <div id="dashboard" style="height: 800px; width: 100%;"></div>

        </div>
    </div>
   
    <!-- Second Section -->
    <h3>All Products</h3>

    <div class="table-responsive">

    <table id="allProductsTable" class="table table-striped">
        <thead>


            <tr>
                <th>Image</th>
                <th>Product ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Name</th>
                <th>Color</th>
                <th>Material</th>
                <th>Price</th>
                <th>Likes</th>
                <th>Time to Sell</th>
                <th>Vintage</th>
                <th>Condition</th>
                <th>Link</th>

            </tr>


            <tr>

                <th>
                    <!-- Image -->
                </th>
                
                <th>
                    <div class="form-group" id="id-search">
                        <input type="text" placeholder="Search ID">
                    </div>
                </th>
                
                <th>
                    <div class="form-group" id="brand-search">
                        <input type="text" placeholder="Search Brand">
                    </div>
                </th>
                
                <th>
                    <div class="form-group" id="model-search">
                        <input type="text" placeholder="Search Model">
                    </div>
                </th>
                
                <th>
                    <div class="form-group" id="name-search">
                        <input type="text" placeholder="Search Name">
                    </div>
                </th>


                
                <th>
                    <div class="form-group" id="color-search">
                        {% for color in colors %}
                            <input type="checkbox" value="{{ color }}">{{ color }}<br>
                        {% endfor %}
                    </div>
                
                <th>
                    <div class="form-group" id="material-search">
                        <input type="text" placeholder="Search Material">
                    </div>
                </th>


                <th>
                    <div id="price-search">
                        <input type="number" id="price-min" placeholder="Min Price">
                        <input type="number" id="price-max" placeholder="Max Price">
                    </div>
                </th>


                <th>
                    <div id="likes-search">
                        <input type="number" id="likes-min" placeholder="Min Likes">
                        <input type="number" id="likes-max" placeholder="Max Likes">
                    </div>
                </th>


                    <th>
                        <div id="timeToSell-search">
                            <input type="number" id="timeToSell-min" placeholder="Min Time to Sell">
                            <input type="number" id="timeToSell-max" placeholder="Max Time to Sell">
                        </div>
                    </th>


                    <th>
                        <div class="form-group" id="vintage-search">
                            <input type="text" placeholder="Search Vintage">
                        </div>
                    </th>

                    <th>
                        <div class="form-group" id="condition-search">
                            <input type="text" placeholder="Search Condition">
                        </div>
                    </th>


                <th>
                    <div id="link-search">
                        <input type="text" placeholder="Search Link">
                    </div>
                </th>


            </tr>
        </thead>
        <tbody>
            {% for stats in all_stats %}
                {% for product in stats.all_products %}
                    <tr>
                        <td>
                            <img src="{{ 'https://images.vestiairecollective.com/produit/' + (product.id|string) + '-1_3.jpg' }}" alt="Product Image" height="50" width="50" loading="lazy">
                        </td>
                        <td>{{ product.id|default('') }}</td>
                        <td>{{ product.brand.name|default('') if 'brand' in product else '' }}</td>
                        <td>{{ product.model.name|default('') if 'model' in product else '' }}</td>
                        <td>{{ product.name|default('') }}</td>
                        <td>{{ product.color if 'color' in product else '' }}</td>
                        <td>{{ product.material if 'material' in product else '' }}</td>
                        <td>{{ ('%.0f'|format(product.price.cents/100.0) if product.price and product.price.cents else 'N/A') }}€</td>
                        <td>{{ product.likes|default('') }}</td>
                        <td>{{ product.timeToSell|default('') }}</td>
                        <td>{{ product.vintage if 'vintage' in product else '' }}</td>
                        <td>{{ product.condition.label if 'condition' in product else '' }}</td>
                        <td>
                            {% if product.link %}
                                <a href="{{ 'https://fr.vestiairecollective.com/' + product.link }}" class="btn btn-primary" target="_blank">See on VC</a>
                            {% else %}
                                <a href="#">""</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        
    </table>
</div>
</div>


{% endblock %}

