
{% extends "bootstrap/base.html" %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% block title %}
Sales Stats
{% endblock %}

{% block navbar %}
<!-- Include the DataTables CSS and JS libraries -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<!-- Include the MongoDB Charts Embedding SDK -->
<script src="https://unpkg.com/@mongodb-js/charts-embed-dom@3.1.0/dist/charts-embed-dom.umd.min.js"></script>


<script>
    async function renderDashboard() {

    // Extract brand and model from the URL
      const pathArray = window.location.pathname.split('/');
      const brand = decodeURIComponent(pathArray[2]);
      const model = decodeURIComponent(pathArray[3]);

      // Set the filter
      const collectionName = brand + " " + model;
      console.log("collectionName: " + collectionName);


      const sdk = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-project-0-kuacs', // Replace with your base URL
      });
    
      const dashboard = sdk.createDashboard({
        dashboardId: '6483b793-7171-4c2e-8dea-122ef63e26a0', // Replace with your dashboard ID
        // other options
        filter: {'collection': collectionName }
      });


    
      await dashboard.render(document.getElementById('dashboard'));
    }
    
    // Call renderDashboard after the window has loaded
    window.onload = function() {
      renderDashboard();
    };
</script>


    

<script>
    var $j = jQuery.noConflict();

    $j(document).ready(function () {
        var table = $j('#allProductsTable').DataTable({
            "pageLength": 50,
            "lengthMenu": [[50, 100, -1], [50, 100, "All"]]
        });

        $j('#title-search').on('keyup', function () {
            table.columns(1).search(this.value).draw();
        });

        // Populate the color checkboxes
        var colors = table.column(3).data().unique();
        colors.each(function (color) {
            $j('#color-search').append('<input type="checkbox" value="' + color + '">' + color + '<br>');
        });

        // Add event listener to the color checkboxes
        $j('#color-search input').on('change', function () {
            var search = $j('#color-search input:checked').map(function () {
                return this.value;
            }).get().join('|');
            table.column(3).search(search, true, false).draw();
        });



    // Add event listener to the timeToSell range inputs
    $j('#timeToSell-search input').on('change', function () {
            var min = parseInt($j('#timeToSell-min').val(), 10);
            var max = parseInt($j('#timeToSell-max').val(), 10);
            table.draw();
        });

        $j.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var min = parseInt($j('#timeToSell-min').val(), 10);
                var max = parseInt($j('#timeToSell-max').val(), 10);
                var timeToSell = parseFloat(data[5]) || 0; // use data for the timeToSell column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && timeToSell <= max) ||
                    (min <= timeToSell && isNaN(max)) ||
                    (min <= timeToSell && timeToSell <= max)) {
                    return true;
                }
                return false;
            }
        );

        // Add event listener to the likes range inputs
        $j('#likes-search input').on('change', function () {
                var min = parseInt($j('#likes-min').val(), 10);
                var max = parseInt($j('#likes-max').val(), 10);
                table.draw();
            });

            // Add event listener to the price range inputs
            $j('#price-search input').on('change', function () {
                var min = parseInt($j('#price-min').val(), 10);
                var max = parseInt($j('#price-max').val(), 10);
                table.draw();
            });

            $j.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                    var minLikes = parseInt($j('#likes-min').val(), 10);
                    var maxLikes = parseInt($j('#likes-max').val(), 10);
                    var likes = parseFloat(data[4]) || 0; // use data for the likes column

                    var minPrice = parseInt($j('#price-min').val(), 10);
                    var maxPrice = parseInt($j('#price-max').val(), 10);
                    var price = parseFloat(data[3]) || 0; // use data for the price column

                    if ((isNaN(minLikes) && isNaN(maxLikes)) ||
                        (isNaN(minLikes) && likes <= maxLikes) ||
                        (minLikes <= likes && isNaN(maxLikes)) ||
                        (minLikes <= likes && likes <= maxLikes)) {
                        if ((isNaN(minPrice) && isNaN(maxPrice)) ||
                            (isNaN(minPrice) && price <= maxPrice) ||
                            (minPrice <= price && isNaN(maxPrice)) ||
                            (minPrice <= price && price <= maxPrice)) {
                            return true;
                        }
                    }
                    return false;
                }
            );


        $j('#allProductsTable th').hover(
            function () {
                $j(this).find('input, div').css('display', 'inline-block');
            }, 
            function () {
                $j(this).find('input, div').css('display', 'none');
            }
        );
    });

            document.addEventListener("DOMContentLoaded", function() {
        var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

        if ("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                let lazyImage = entry.target;
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.classList.remove("lazy");
                lazyImageObserver.unobserve(lazyImage);
                }
            });
            });

            lazyImages.forEach(function(lazyImage) {
            lazyImageObserver.observe(lazyImage);
            });
        } else {
            // Possibly fall back to a more compatible method here
        }
        });


</script>

<style>
    #allProductsTable th input, 
    #allProductsTable th div {
        display: none;
    }


</style>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Price Watcher</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- First Section -->

    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#salesStats">
        See Sales Stats
    </button>
    <h1 style="text-align: center;">
        {{ brand }} {{ model }}
    </h1>
    <br><br>
    <div id="salesStats" class="collapse">
        <div class="container-fluid">
            <!-- Add this div where you want the dashboard to appear -->
            <div id="dashboard" style="height: 1350px; width: 100%;"></div>

        </div>
    </div>
   
    <!-- Second Section -->
    <h3>All Products</h3>

    <div class="table-responsive">

    <table id="allProductsTable" class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Likes</th>
                <th>Time to Sell</th>
                <th>Link</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <div class="form-group" id="id-search">
                        <input type="text" placeholder="Search ID">
                    </div>
                </th>
                <th>
                    <div class="form-group" id="name-search">
                        <input type="text" placeholder="Search Name">
                    </div>
                </th>
                <th>
                    <div class="form-group" id="color-search">
                        <!-- Color checkboxes will be populated here -->
                    </div>
                </th>
                <th>
                    <div class="form-group" id="price-search">
                        <input type="number" id="price-min" placeholder="Min Price">
                        <input type="number" id="price-max" placeholder="Max Price">
                    </div>
                </th>
                <th>
                    <div class="form-group" id="likes-search">
                        <input type="number" id="likes-min" placeholder="Min Likes">
                        <input type="number" id="likes-max" placeholder="Max Likes">
                    </div>
                </th>
                <th>
                    <div class="form-group" id="timeToSell-search">
                        <input type="number" id="timeToSell-min" placeholder="Min Time to Sell">
                        <input type="number" id="timeToSell-max" placeholder="Max Time to Sell">
                    </div>
                </th>
                <th>
                    <div class="form-group" id="link-search">
                        <input type="text" placeholder="Search Link">
                    </div>
                </th>
            </tr>
            
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                {% set product_id = product.link.split('/')[-1].split('-')[-1].split('.')[0] %}
                <td><img data-src="{{ 'https://images.vestiairecollective.com/produit/' + product_id + '-1_3.jpg' }}" class="lazy" style="width: 50px"></td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.colors.all[0].name if product.colors and product.colors.all and product.colors.all[0].name else 'N/A' }}</td>
                <td>{{ (product.price.cents/100)|int if product.price and product.price.cents else 'N/A' }}€</td>
                <td>{{ product.likes }}</td>
                <td>{{ product.timeToSell }}</td>
                <td><a href="{{ 'https://fr.vestiairecollective.com/' + product.link }}" class="btn btn-primary" target="_blank">Sell on VC</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}
